<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <h5>by Neda Mehdizadeh</h5>
      <h3>Press the button to see the most recent updates about mars</h3>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data</a></p>
    </div>
      
    <!-- Mars data -->
    <div class="row" id="mars_news">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h3>{{mars.news_title}}</h3>
        <p>{{ mars.news_paragraph }}</p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-8 border">
        <h2 class=""><u>Featured Mars Image</u></h2> 
        </br>
        <img class="col-md-12 border" src="{{mars.featured_image_url}}" alt="Features Mars Image">
      </div>
      <div class="col-md-4">
        
        </br>
        <div class="card">
          <h3>Mars Facts</h3>
            {{ mars.mars_facts| safe}}
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class=""><u>Mars Hemisphere Images</u></h2>    
            {% for hem in mars.hemisphere_images %} 
              <div class="col-6 border">
              </br>
                    <div>
                      <img width="512 px" height="512 px" src="{{hem.img_url}}">
                    </div>

                    <div>
                      <h4> {{hem.title}} </h4>  
                    </div>
            
              </div>
            {% endfor %}
  </div>

</body>
</html>

